ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:   #6C3483 ;
}

li {
  float: left;
  width: 25%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #D2B4DE;
}

.active {
  background-color:  #8E44AD;
}